#subtitle 
{
    text-align: center;
    font: italic bolder condensed 16px/2 fantasy;
}
#bc_logo
{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}
h1
{
	text-align: center;
}
.blockheader_field
{
	font-family: "Courier New";
}